Body{
    background-image: url(Képek/space.jpg);
}
#News{
    border-radius: 30px;
    border: 5px solid black;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
#logo{
    margin-left: center;
    margin-bottom: 20px;
    float: left;
}
#kep1{
    width: 150px;
}
#Category{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
    text-align: right;
    padding: 2px 5px 2px 5px;
    margin-bottom: 20px;
}
h2{
    margin: 8px;
}
#ala{
    text-align: center;
}
#Search{
    border-top-right-radius: 30px;
    float: right;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
    text-align: left;
    padding: 5px;
}
#Searchbox{
    background-color: white;
    float: left;
    height: 34px;
    border: 2px solid black;
    margin-top: 40px;
}
#Kereses{
    width: 30px;
    float: right;
}
#lego{
    border-radius: 10px;
    width: 150px;
    float: right;
    margin-right: 40px;
}
#Main{
    border-bottom-right-radius: 30px;
    float: right;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
    text-align: left;
    padding: 5px;
    margin-bottom: 20px;
    height: 612px;
}
a:hover, a:visited, a:link, a:active{
    color: black;
}
.termekekkep{
    height: 200px;
    margin: 15px 20px 15px 20px;
    border: 2px solid;
}
.termekiras{
    height: 200px;
    margin: 15px 20px 15px 20px;
}
.bevezeto{
    font-size: large;
    text-align: justify;
    margin: 30px;
}
.egesz{
    margin: 20px 50px 20px 50px;
}

.bombazokep{
    height: 200px;
    width: 250px;
    margin: 15px 20px 15px 20px;
    border: 2px solid
}

.leiras{
    text-align: justify;
    font-weight: bold;
    margin: 15px 20px 15px 20px;
}

#leirasNev{
    font-size: 18pt;
    text-align: center;
}

#leirasKredit{
    font-size: 14pt;
    font-style: italic;
    text-align: center;
}

#kozep{
    text-align: center;
}