Body{
    background-image: url(../Képek/space.jpg);
}
.kozep{
    text-align: center;
}
p{
    font-size: X-large;
    text-align: justify;
}
h2{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}
#logo{
    height: 200px;
}
#tulaj{
    height: 550px;
    border-radius: 30px;
}
#kep{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 700px;
    float: left;
    padding: 2px;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
}
#Search{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: 700px;
    float: right;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: right;
    padding: 5px;
}
#Main{
    height: 700px;
    float: left;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: left;
    padding: 5px;
}
a:hover, a:visited, a:link, a:active{
    color: black;
}
.egesz{
    margin: 20px 50px 20px 50px;
}