Body{
    background-image: url(../Képek/space.jpg);
}
.kozep{
    text-align: center;
}
p{
    font-size: X-large;
    text-align: justify;
}
h2{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}
#logo{
    height: 200px;
}
#tulaj{
    height: 600px;
}
#Category{
    height: 700px;
    float: left;
    padding: 2px;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
}
#Search{
    width: 200px;
    height: 700px;
    float: right;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
    text-align: right;
    padding: 5px;
}
#Main{
    height: 700px;
    width: 800px;
    float: right;
    border: 5px solid black;
    background-color: rgb(148, 148, 148);
    text-align: left;
    padding: 5px;
}
a:hover, a:visited, a:link, a:active{
    color: black;
}