.egesz{
    margin: 20px 50px 20px 50px;
}
Body{
    background-image: url(../Képek/space.jpg);
}
.balo{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 700px;
    padding: 2px;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
}
.jobbo{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: right;
    padding: 5px;
    height: 700px;
    float: right;
}
.leiras{
    height: 700px;
    width: auto;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: left;
    padding: 40px;
}
.kozep{
    text-align: center;
}
p{
    font-size: X-large;
    text-align: justify;
}
h2{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}
#logo{
    height: 200px;
}
.kep{
    height: 300px;
    border-radius: 30px;
}

a:hover, a:visited, a:link, a:active{
    color: black;
}
.penz{
    height: 50px;
}
#szoveg{
    padding: 100px;
}
li{
    font-size: x-large;
    margin: 5px;
}
#float-c {
    margin:0 auto;
    display:block;
}