Body{
    background-image: url(../Képek/space.jpg);
}
.kozep{
    text-align: center;
}
p{
    font-size: X-large;
    text-align: justify;
}
h2{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 20px;
}
li{
    font-size: x-large;
}
#logo{
    margin-top: 150px;
    height: 200px;
}
#Y{
    margin-top: 100px;
    height: 500px;
    border-radius: 20px;
}
.balo{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 700px;
    padding: 2px;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
}
.jobbo{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: right;
    padding: 5px;
    height: 700px;
}
.leiras{
    height: 700px;
    width: auto;
    border: 5px solid black;
    background-image: url(../Képek/auresi.PNG);
    text-align: left;
    padding: 20px;
}
a:hover, a:visited, a:link, a:active{
    color: black;
}
.egesz{
    margin: 20px 50px 20px 50px;
}